#error { font-family: Verdana, Arial, Helvetica, sans-serif; padding: 10px; }
#error h1 { font-size: 60px; line-height: 60px; font-weight: bold; padding: 0px; }
#error h2 { font-size: 14px; font-weight: bold; padding: 0px; }
.normal { font-size: 10px; padding: 0px; }