@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?vboarp');
	src:url('../fonts/icomoon.eot?#iefixvboarp') format('embedded-opentype'),
		url('../fonts/icomoon.woff?vboarp') format('woff'),
		url('../fonts/icomoon.ttf?vboarp') format('truetype'),
		url('../fonts/icomoon.svg?vboarp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-angle-double-left:before {
	content: "\f100";
}

.icon-angle-double-right:before {
	content: "\f101";
}

.icon-angle-double-up:before {
	content: "\f102";
}

.icon-angle-double-down:before {
	content: "\f103";
}

.icon-angle-left:before {
	content: "\f104";
}

.icon-angle-right:before {
	content: "\f105";
}

.icon-angle-up:before {
	content: "\f106";
}

.icon-angle-down:before {
	content: "\f107";
}

.icon-box:before {
	content: "\e605";
}

.icon-briefcase:before {
	content: "\e604";
}

.icon-credit-card:before {
	content: "\e600";
}

.icon-location:before {
	content: "\e601";
}

.icon-news:before {
	content: "\e602";
}

.icon-users:before {
	content: "\e606";
}

.icon-instagram:before {
	content: "\e607";
}

.icon-pinterest:before {
	content: "\e608";
}

.icon-youtube:before {
	content: "\e603";
}

.icon-book:before {
	content: "\e91f";
}

.icon-phone:before {
	content: "\e942";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-user-tie:before {
	content: "\e976";
}

.icon-search:before {
	content: "\e986";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-twitter:before {
	content: "\ea91";
}

